[submodule "modulo1"]
	path = modulo1
	url = https://github.com/chilacaantonio/modulo1.git
[submodule "dir1/componente_prueba"]
	path = dir1/componente_prueba
	url = https://github.com/chilacaantonio/modulo2.git
